$color-beige: #F4E7D1
$color-blue-light: #00ADEE
$color-blue-dark: #0A2CFC
$color-orange: #FE5700
$color-pink: #F868C2
$color-green-dark: #005E0A
$color-green-light: #01B835
$color-yellow: #FED202
$color-red: #FE110E

$color-accent: $color-red
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: $color-beige
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)


$font-agrandir: "Agrandir", sans-serif
$font-vollkorn: "Vollkorn", serif

$heading-font-family: $font-vollkorn
$body-font-family: $font-vollkorn
$h1-font-family: $font-agrandir
$h2-font-family: $font-agrandir
$h3-font-family: $font-agrandir

$header-background: var(--color-background) !default
$header-logo-height: 40px
$header-logo-height-desktop: 60px
$header-border-bottom-width: 0
$header-dropdown-full: true
$footer-background-color: $color-background-alt
$footer-logo-height: 60px
$footer-logo-height-desktop: 80px
$hero-background-color: none
