.organization
    .media--logo
        background: $color-beige-light
        img
            mix-blend-mode: multiply
.organizations__page
    .document-content
        .organization-presentation-container
            + .organization-logo
                picture
                    background: $color-beige-light
                    img
                        mix-blend-mode: multiply